/* #region Colors */

:root {
	--background-color: black;
	--foreground-color: white;

	--cool-background: linear-gradient(-10deg, #222, black);

	--svg-light-color: white;
	--svg-dark-color: black;

	--background-squares-color: #ffffff30;
}


@media (prefers-color-scheme: light) {
	:root {
		--background-color: white;
		--foreground-color: black;
	
		--svg-light-color: black;
		--svg-dark-color: white;

		--cool-background: linear-gradient(-10deg, #ddd, white);

		--background-squares-color: #00000030;
	}
}

/* #endregion */

/* #region Generics */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body,
#app {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;

	max-width: 100vw;
	min-height: 100vh;

	overflow-x: hidden;

	scrollbar-color: var(--foreground-color) var(--background-color);
}

html {
	background-color: var(--background-color);
	color: var(--foreground-color);
}

/* #endregion */

/* #region Elements */

a {
	color: inherit;
	text-decoration: none;

	position: relative;
}

a::after {
	content: '';
	display: block;

	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	width: 0;
	height: 1px;

	background-color: currentColor;

	transition: width 0.15s ease-in-out;
}

a:hover::after,
a:focus::after {
	width: 100%;
}


svg .black { fill: var(--svg-dark-color) }
svg .white { fill: var(--svg-light-color) }
svg .clear { fill: transparent }


/* #endregion */

/* #region Layout */

header {
	margin: 20px 0;

	font-size: 2em;
	text-align: center;
}

header a {
	margin: 0 20px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}


footer {
	margin: 20px 0;
}

footer span {
	padding: 5px 0;
}

footer span:not(:last-child) {
	padding-right: 10px;
	margin-right: 10px;

	border-right: solid 1px var(--foreground-color);
}

/* #endregion */

/* #region Cool background */

#background {
	position: fixed;
	z-index: -1;

	width: 100vw !important;
	height: 100vh !important;

	background: var(--cool-background);
}

#background div {
	display: block;

	position: absolute;
	top: calc(100vh + 150px);

	width: 20px;
	height: 20px;

	background: var(--background-squares-color);
}

/* #endregion */

/* #region Responsive mobile layout */

@media screen and (max-width: 800px) {
	nav {
		flex-direction: column;
	}
}

/* #endregion */
