/* #region Generics */

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body,
#app {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;

	max-width: 100vw;
	min-height: 100vh;

	overflow-x: hidden;

	background-color: black;
	color: white;
}

/* #endregion */

/* #region Elements */

a {
	color: inherit;
	text-decoration: none;

	position: relative;
}

a::after {
	content: '';
	display: block;

	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

	width: 0;
	height: 1px;

	background-color: currentColor;

	transition: width 0.15s ease-in-out;
}

a:hover::after,
a:focus::after {
	width: 100%;
}

/* #endregion */

/* #region Layout */

header {
	margin: 20px 0;

	font-size: 2em;
	text-align: center;
}

header a {
	margin: 0 20px;
}

nav {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}


footer {
	margin: 20px 0;
}

footer span {
	padding: 5px 0;
}

footer span:not(:last-child) {
	padding-right: 10px;
	margin-right: 10px;

	border-right: solid 1px white;
}

/* #endregion */

/* #region Responsive mobile layout */

@media screen and (max-width: 800px) {
	nav {
		flex-direction: column;
	}
}

/* #endregion */
