
.main {
	text-align: center;

	max-width: 500px;
}

.h1 {
	font-size: 3em;
}

.h2 {
	font-size: 2em;
}

.p {
	font-size: 1.2em;
	margin: 25px 0;
}


.logo {
	margin: 20px;
}


.social_media {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	margin: 40px 0;
}

.social_media a {
	display: inline-flex;
	justify-content: center;
	align-items: center;

	width: 50px;
	height: 50px;

	margin: 1em;
}

.social_media a svg * {
	transition: fill 0.2s ease;
}

.social_media a::after { display: none }

.social_media a:hover.facebook svg > circle,
.social_media a:focus.facebook svg > circle { fill: white }

.social_media a:hover.facebook svg > path,
.social_media a:focus.facebook svg > path { fill: #1877f2 }

.social_media a:hover.twitter svg > path,
.social_media a:focus.twitter svg > path { fill: #1da1f2 }

.social_media a:hover.discord svg > path,
.social_media a:focus.discord svg > path { fill: #5865f2 }

.social_media a:hover.youtube svg > rect,
.social_media a:focus.youtube svg > rect { fill: white }
.social_media a:hover.youtube svg > path,
.social_media a:focus.youtube svg > path { fill: red }

.social_media a:hover.generic svg > path,
.social_media a:focus.generic svg > path { fill: #aaa }
